/* Flex styles used throughout the source code keep in alphabetical order. */

.align-items-center {
    align-items: center !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-flex-start {
  align-self: flex-start !important;
}

.display-flex {
  display: flex !important;
}

.flex-direction-column {
  flex-direction: column !important;
}

.flex-direction-row {
  flex-direction: row !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  flex-shrink: 1 !important;
}

.flex-wrap-wrap {
    flex-wrap: wrap !important;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}